
            <section id="feature_header_services_testing_software">
            </section>
            
            <section id="our-passion-sub">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/user-experience-user-interface-design">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/service-ui.png" alt="UI" />
                                    </div>
                                    <div class="service-name">
                                        USER EXPERIENCE &<br />USER INTERFACE DESIGN
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/web-development">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/service-webdev.png" alt="Web Development" />
                                    </div>
                                    <div class="service-name">
                                        WEB & SOFTWARE<br />DEVELOPMENT
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/mobile-development">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/service-mobile.png" alt="Mobile Development" />
                                    </div>
                                    <div class="service-name">
                                        MOBILE<br />DEVELOPMENT
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/testing-software">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/service-testing.png" alt="Testing Software" />
                                    </div>
                                    <div class="service-name">
                                        TESTING<br />SOFTWARE
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/extended-teams">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/extended-teams.png" alt="Extended teams" />
                                    </div>
                                    <div class="service-name">
                                        EXTENDED<br />TEAMS
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/training-services">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/training-services.png" alt="Training services" />
                                    </div>
                                    <div class="service-name">
                                        TRAINING<br />SERVICES
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            
            <section id="internal-section">
                <div class="container" style="padding: 0;">
                    <div class="row">
                        <div class="section-header">
                            <div class="title text-center">
                                <span class="pink bold">TESTING DE</span><br>             
                                <span class="green">SOFTWARE</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="container" style="padding: 0;">
                                <div class="title">
                                    Somos expertos en testing, con más de
                                </div>
                                <div class="col-md-5">
                                    <img src="/assets/img/services/testing-software/reloj.png" class="img-responsive" alt="Expertos en testing de software" />
                                </div>
                                <div class="col-md-7">
                                    <div class="title">
                                        <span class="pink text-xl">200,000</span><br>
                                        <span class="pink bold">horas de pruebas</span>
                                        en apoyo a nuestros clientes en el último año.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="special-bullets">
                                <li>Empleamos tecnologías y metodologías de punta, a través de las cuales ofrecemos:
                                    <ul class="special-bullets-sm">
                                        <li>Experiencia de testing end-to-end.</li>
                                        <li>Ingenieros certificados en ISTQB.</li>
                                        <li>HP Quality Tools Certified Professionals.</li>
                                        <li>Implementación del proceso de testing.</li>
                                        <li>Experiencia comprobada en outsourcing de testing.</li>
                                    </ul>
                                </li>
                            </ul>
                            <img src="/assets/img/services/testing-software/ISTQB.png" class="img-responsive" alt="International Software Testing Quallifications Board" />
                        </div>
                    </div>

                    <div id="proyect">
                        <div class="text-center">
                            <div class="hablemos-de-tu-proyecto text-center">
                                <img src="assets/img/hablemos-de-tu-proyecto.png" alt="Hablemos de tu proyecto" class="img-responsive" />
                            </div>            
                            <h4 class="text-center">HABLEMOS DE TU PROYECTO</h4>
                            <br>
                            <button class="btn btn-default">CONTÁCTANOS</button>
                        </div>
                    </div>

                </div>
            </section>
            