
            <section id="feature_slider" class="lol">
                <article class="slide" id="showcasing" style="background: url('assets/img/banners/bg/banner1.jpg') no-repeat top center;">
                    <img class="asset left-400 sp600 t120 z1" src="assets/img/banners/banner1.png" />
                    <div class="info">
                    </div>
                </article>
                <article class="slide" id="ideas" style="background: url('assets/img/banners/bg/banner2.jpg') no-repeat top center;">
                    <img class="asset left-460 sp600 t50 z1" src="assets/img/banners/banner2.png" />
                    <div class="info">
                    </div>
                </article>
                <article class="slide" id="tour" style="background: url('assets/img/banners/banner3.png') no-repeat top center;">
                    <div class="info">
                    </div>
                </article>
            </section>
            
            <section id="about-sye">
                <div class="container text-center">
                    <img src="assets/img/about-sye.png" alt="Sye :: Acerca de" class="img-responsive" />
                </div>
            </section>
            
            <section id="our-passion">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/user-experience-user-interface-design">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/service-ui.png" alt="UI" />
                                    </div>
                                    <div class="service-name">
                                        USER EXPERIENCE &<br />USER INTERFACE DESIGN
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/web-development">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/service-webdev.png" alt="Web Development" />
                                    </div>
                                    <div class="service-name">
                                        WEB & SOFTWARE<br />DEVELOPMENT
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/mobile-development">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/service-mobile.png" alt="Mobile Development" />
                                    </div>
                                    <div class="service-name">
                                        MOBILE<br />DEVELOPMENT
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/testing-software">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/service-testing.png" alt="Testing Software" />
                                    </div>
                                    <div class="service-name">
                                        TESTING<br />SOFTWARE
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/extended-teams">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/extended-teams.png" alt="Extended teams" />
                                    </div>
                                    <div class="service-name">
                                        EXTENDED<br />TEAMS
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/training-services">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/training-services.png" alt="Training services" />
                                    </div>
                                    <div class="service-name">
                                        TRAINING<br />SERVICES
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            

<!--start parallax 2-->
     <div id="parallax-1" class="parallax fixed" style="background-image: url(assets/img/bg-portfolio.jpg);">
         <div class="quoteWrap">
            <div class="quote">
                <div class="container">
                    <div class="sixteen columns">
                        <h3><span class="smallBold">A true</span> <span class="small">artist</span>
                        <br><span class="large">is not one who</span> <span class="largeBold">is inspired,</span>
                        <br><span class="medium">but one who</span><span class="mediumBold"> inspires others.</span> 
                        <br><span class="author">Salvador Dali</span></h3>
                    </div>
                </div>  
            </div>
         </div>
     </div>
<!--end parallax 2-->    
            

            <section id="portfolio_">
                <div class="container" style="padding: 0;">
                    <div class="section-header">
                        <h2 class="text-center">Portafolio</h2>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <img src="assets/img/portfolio/web.jpg" alt="Web" />
                            <div class="portfolio-overlay">
                                <span>Web</span>
                                UX - UI / DEVELOPMENT
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <img src="assets/img/portfolio/software.png" alt="Software" />
                            <div class="portfolio-overlay">
                                <span>Software</span>
                                UX - UI / DEVELOPMENT
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <img src="assets/img/portfolio/mobile.jpg" alt="Mobile" />
                            <div class="portfolio-overlay">
                                <span>Apps</span>
                                UX - UI / DEVELOPMENT
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section id="methodology">
                <div class="section-header">
                    <h2 class="text-center text-white">Metodología</h2>
                    <div class="container text-center">
                        <img src="assets/img/img-methodology.png" alt="Metodología Sye" class="img-responsive" />
                    </div>                
                </div>
            </section>
            
            <section id="clients">
                <div class="container">
                    <div class="section-header">
                        <h2 class="text-center text-blue pb-30">Clientes</h2>
                        <h3 class="text-center">
                            GRANDES LÍDERES Y GRANDES EMPRESAS HAN CONFIADO<br />EN NOSOTROS, EL RESULTADO HABLA POR SÍ SOLO.
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="clients-list">
                                <li>
                                    <img src="assets/img/clients/compartamos.png" alt="Compartamos Banco" />
                                </li>
                                <li>
                                    <img src="assets/img/clients/america-movil.png" alt="America Móvil" />
                                </li>
                                <li>
                                    <img src="assets/img/clients/honda.png" alt="Honda" />
                                </li>
                                <li>
                                    <img src="assets/img/clients/betterware.png" alt="Betterware" />
                                </li>
                                <li>
                                    <img src="assets/img/clients/ferrero.png" alt="Ferrero" />
                                </li>
                            </ul>
                            <ul class="clients-list">
                                <li>
                                    <img src="assets/img/clients/ado.png" alt="Compartamos Banco" />
                                </li>
                                <li>
                                    <img src="assets/img/clients/atletica.png" alt="America Móvil" />
                                </li>
                                <li>
                                    <img src="assets/img/clients/flextronics.png" alt="Honda" />
                                </li>
                                <li>
                                    <img src="assets/img/clients/superruedas.png" alt="Betterware" />
                                </li>
                                <li>
                                    <img src="assets/img/clients/prosewave.png" alt="Ferrero" />
                                </li>
                            </ul>
                            <ul class="clients-list">
                                <li>
                                    <img src="assets/img/clients/distrito.png" alt="Compartamos Banco" />
                                </li>
                                <li>
                                    <img src="assets/img/clients/qbo.png" alt="America Móvil" />
                                </li>
                                <li>
                                    <img src="assets/img/clients/kodak.png" alt="Honda" />
                                </li>
                                <li>
                                    <img src="assets/img/clients/sports-world.png" alt="Betterware" />
                                </li>
                                <li>
                                    <img src="assets/img/clients/upster.png" alt="Ferrero" />
                                </li>
                            </ul>                        
                        </div>
                    </div>
                </div>
            </section>
            
            <section id="team">
                <div class="container">
                    <div class="section-header">
                        <h2 class="text-center text-blue pb-30">El Equipo</h2>
                        <h3 class="text-center">
                            SOMOS UN MONTÓN DE APASIONADOS POR DESARROLLAR SOFTWARE,<br />POR EMBELLECER Y DARLE PERSONALIDAD A TUS PROYECTOS.
                        </h3>
                    </div>
                    <div id="teamCarousel" class="carousel slide" data-ride="carousel">                
                        <div class="carousel-inner" role="listbox">
                            <div class="item active" role="option">
                                <img src="assets/img/team/designer.png" alt="Designer" class="banner">
                            </div>
                            <div class="item" role="option">
                                <img src="assets/img/team/developer.png" alt="Developer" class="banner">
                            </div>
                        </div>                        
                    </div>
                </div>
            </section>
