@font-face {
    font-family: 'GothamBold'; 
    src: url('../fonts/Gotham-Bold.woff') format('woff'),
         url('../fonts/Gotham-Bold.ttf') format('truetype'), 
         url('../fonts/Gotham-Bold.svg') format('svg'), 
         url('../fonts/Gotham-Bold.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBook'; 
    src: url('../fonts/Gotham-Book.woff') format('woff'),
         url('../fonts/Gotham-Book.ttf') format('truetype'), 
         url('../fonts/Gotham-Book.svg') format('svg'), 
         url('../fonts/Gotham-Book.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamLight'; 
    src: url('../fonts/Gotham-Light.woff') format('woff'),
         url('../fonts/Gotham-Light.ttf') format('truetype'), 
         url('../fonts/Gotham-Light.svg') format('svg'), 
         url('../fonts/Gotham-Light.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamMedium'; 
    src: url('../fonts/Gotham-Medium.woff') format('woff'),
         url('../fonts/Gotham-Medium.ttf') format('truetype'), 
         url('../fonts/Gotham-Medium.svg') format('svg'), 
         url('../fonts/Gotham-Medium.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}