/* 
    Created on : 14/12/2015, 10:58:42 AM
    Author     : Jorge Perales <jperales@syesoftware.com>
*/
@import url(gotham.css);

/*******************************************************************************
General/Misc
*******************************************************************************/
* {
    font-family: 'GothamBook';
}

.img-responsive {
    display: inline-block;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

.section-header h2 {
    color: #000306;
    font-family: 'GothamBold';
    font-size: 37.61px;
    padding-bottom: 50px;
    text-transform: uppercase;
}

.section-header h3 {
    color: #211915;
    font-family: 'GothamLight';
    font-size: 20px;
}

.section-header h3 + h2 {
    padding-bottom: 0;
}

.text-white {
    color: #fff !important;
}

.text-blue {
    color: #5b97cc !important;
}

.pb-30 {
    padding-bottom: 20px !important;
}

.mt-20 {
    margin-top: 20px;
}

textarea {
    resize: vertical;
}
/*******************************************************************************
Header
*******************************************************************************/
header {
    background: #ffffff;
    height: 130px;
    position: relative;
    border-bottom: 1px solid #cccccc;
}
.navbar {
    margin-bottom: 0;
    z-index: 1000;
}
.navbar-brand {
    float: left;
    margin-top: 5px;
}
.navbar-nav {
    margin-top: 38px;
}
.navbar-nav > li a {
    color: #474749;
    font-family: 'GothamMedium';
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
}
.navbar-nav > li:last-child a {
    padding-right: 0;
}
.navbar-nav > li.active a {
    color: #ca0283;
}
.navbar-nav > li a:hover, .navbar-nav > li a:focus {
    background: none;
    color: #ca0283;
}
.navbar-toggle {
    float: left;    
    margin-left: 20px;
    margin-top: 28px;
}
.navbar-toggle .icon-bar {
    background: #1075bb;
    border-radius: 4px;
    height: 4px;
}
/*******************************************************************************
Slider
*******************************************************************************/
#feature_slider {
    height: 720px;
    height: 600px;
    background: #262626;
    z-index: 1;
    margin-bottom: 0px;
    position: relative;
}
#feature_slider h1 {
    font-weight: 100;
    color: #ccc;
    font-size: 60px;
    line-height: 66px;
    text-align: center;
    position: absolute;
    top: 180px;
    width: 100%; }
#feature_slider h1 strong {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 20px; }
#feature_slider #pagination {
    position: absolute;
    top: 505px;
    z-index: 3;
    margin: 0;
    padding: 0;
    display: none;
    list-style-type: none; }
#feature_slider #pagination li {
    text-indent: -99999em;
    float: left;
    padding: 0 6px;
    cursor: pointer; }
#feature_slider #pagination li a {
    width: 7px;
    height: 7px;
    box-shadow: 0px 0px 1px 2px #ccc;
    background: black;
    border-radius: 10px;
    display: block;
    /*border: 1px solid #fff;*/
    opacity: .7;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    transition: opacity .1s linear; }
#feature_slider #pagination li.active a {
    background: #2e5cb1;
    box-shadow: none;
    width: 8px;
    height: 8px; }
#feature_slider #pagination li:hover a {
    opacity: 1; }
#feature_slider .slide {
    width: 100%;
    /*height: 720px;*/
    height: 600px;
    position: absolute;
    display: none;
    overflow: hidden;
    z-index: 1;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    /* Custom styles for each slide */
    /* Slide 1 */
    /* Slide 2 */
    /* Slide 3 */
    /* Slide 4 */ }
#feature_slider .slide.previous {
    z-index: 1; }
#feature_slider .slide.active {
    z-index: 2; }
#feature_slider .slide.hidden {
    display: none; }
#feature_slider .slide#showcasing .info {
    position: absolute;
    top: 150px;
    left: 13%;
    width: 30%;
    display: none;
    z-index: 10; }
#feature_slider .slide#showcasing .info h2 {
    color: #fff;
    font-size: 50px;
    font-weight: normal;
    line-height: 56px;
    text-shadow: 1px 1px 1px #31393d; }
#feature_slider .slide#ideas .info {
    position: relative;
    top: 102px;
    text-align: center; }
#feature_slider .slide#ideas .info h2 {
    color: #fff;
    font-weight: normal; }
#feature_slider .slide#tour .info {
    position: absolute;
    top: 140px;
    right: 6%;
    width: 24%; }
#feature_slider .slide#tour .info h2 {
    color: #fff;
    font-size: 45px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #3b3262;
    line-height: 57px; }
#feature_slider .slide#tour .info a {
    color: #fff;
    font-weight: bold;
    background-color: #2a205d;
    padding: 10px 30px;
    font-size: 19px;
    border-radius: 5px;
    margin-top: 40px;
    display: inline-block;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    transition: opacity .1s linear; }
#feature_slider .slide#responsive .info {
    position: absolute;
    top: 160px;
    right: 9%;
    width: 25%; }
#feature_slider .slide#responsive .info h2 {
    color: #fff;
    font-size: 47px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #3b3262;
    line-height: 56px; }
#feature_slider .slide#responsive .info h2 strong {
    font-size: 42px; }
#feature_slider .slide .info {
    display: none;
    z-index: 10; }
#feature_slider .slide .info a:hover {
    opacity: .8; }
#feature_slider .slide .asset, #feature_slider .slide .fade {
    position: absolute;
    display: none; }
#feature_slider #slide-left {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 250px;
    left: 0;
    background: url(../img/arrow-left.png) no-repeat;
    opacity: .5;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    transition: opacity .1s linear;
    display: none;
    z-index: 2; }
#feature_slider #slide-left:hover {
    opacity: 1; }
#feature_slider #slide-right {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 250px;
    left: auto;
    right: 0;
    background: url(../img/arrow-right.png) no-repeat;
    opacity: .5;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    transition: opacity .1s linear;
    display: none;
    z-index: 2; }
#feature_slider #slide-right:hover {
    opacity: 1; }

/*******************************************************************************
About Sye
*******************************************************************************/
#about-sye {
    padding-bottom: 70px;
    padding-top: 70px;
}

/*******************************************************************************
Services
*******************************************************************************/
#our-passion {
    background: url(../img/bg-services.jpg) no-repeat;
    background-size: cover;
    padding: 35px 0 50px 0;
}

#our-passion-sub {
    background: url(../img/bg-services.jpg) no-repeat;
    background-size: cover;
    padding: 50px 0 50px 0;
}

.service {
    cursor: pointer;
    margin-bottom: 30px;
    text-align: center;
}

.service > .service-name {
    color: #5b97cc;
    font-family: 'GothamLight';
    font-size: 16px;
    line-height: initial;
    margin-top: 10px;
    transition: all ease 0.4s;
}

.service:hover > .service-name {
    color: #000306;
}

.service .service-icon {
    min-height: 105px;
}

/*******************************************************************************
Portfolio
*******************************************************************************/
#portfolio {
    /*background: url(../img/bg-portfolio.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    padding: 50px 0 120px 0;
    
    height: 100vh;
}
.parallax-window {
    min-height: 100vh;
    height: 100vh;
    background: transparent;
    background-size: cover;
}

.portfolio-item {
    cursor: pointer;
    max-height: 295px;
    margin: 0 auto 20px auto;
    position: relative;
    max-width: 377px;
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.portfolio-overlay {
    background: rgba(23, 25, 37, 0.85);
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: all ease 0.5s;
    visibility: hidden;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
    visibility: visible;
}

.portfolio-overlay {
    color: #fff;
    font-family: 'GothamBook';
    font-size: 16px;
    padding-top: 115px;
    text-align: center;
    text-transform: uppercase;
}

.portfolio-overlay span {
    display: block;
    font-family: 'GothamBold';
    font-size: 30px;
}

/*******************************************************************************
Methodoly
*******************************************************************************/
#methodology {
    background: url(../img/bg-methodology.jpg) no-repeat;
    background-size: cover;
    padding: 50px 0 100px 0;
}

/*******************************************************************************
Clients
*******************************************************************************/
#clients {
    background: #fff;
    padding: 50px 0 100px 0;
}

.clients-list:first-child {
    margin-top: 50px;
}

.clients-list:last-child li {
    border-bottom: none;
}

.clients-list {
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.clients-list > li {
    border-right: 1px dotted #929292;
    border-bottom: 1px dotted #929292;
    display: table-cell;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.clients-list > li:last-child {
    border-right: none;
}

/*******************************************************************************
Team
********************************************************************************/
#team {
    padding-bottom: 70px;
}

#teamCarousel .item {
    
}

#teamCarousel .item {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transform: translate3d(0,0,0);
}

#teamCarousel .active.left {left:0;opacity:0;z-index:2;}
#teamCarousel .next {left:0;opacity:1;z-index:1;}
/*******************************************************************************
Footer
*******************************************************************************/
#email-contact {
    background: url(../img/bg-email-contact.jpg) no-repeat;
    background-position: center center;
    height: 343px;
    padding-top: 120px;
}

.btn-contact {
    background: url(../img/bg-button.jpg) repeat-x;
    border: none;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-family: 'GothamLight';
    font-size: 18px;
    height: 64px;
    line-height: 64px;
    opacity: 0.9;
    padding-left: 50px;
    padding-right: 50px;
    width: 400px;
    transition: opacity .1s linear;
}

.btn-contact:hover, .btn-contact:focus {
    color: #fff;
    opacity: 1;
    text-decoration: none;
}

#contact-form {
    background: url(../img/bg-contact-form.jpg);
    padding-top: 20px;
}

#ContactForm {
    padding-right: 20px;
}

#contact-form .form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
#contact-form .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
#contact-form .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
#contact-form .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
#contact-form .form-control:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #fff;
}

#contact-form input, #contact-form textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #b6c94e;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
}

.btn-send {
    background: none;
    border: none;
    margin-top: 5px;
    padding: 0;
}

.address address p {
    color: #fff;
    font-family: 'GothamBook';
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
}

.address address p.city {
    color: #6fa3d2;
}

.address address p.phone {
    color: #b6c84e;
}

.address-group .address:first-child {
    padding-right: 0;
}

.address-group .address:last-child {
    padding-left: 0;
}

.twitter-widget {
    border: none;
    border-radius: 2px 2px 0 0;
    box-shadow: none;
}

.twitter-widget .panel-heading {
    background: url(../img/bg-header-tw-widget.jpg) repeat-x;
    height: 42px;
}

.twitter-widget .panel-body {
    border-top: 1px solid #9b9b9b;
    background: #dfdfdf;
}

#social-partners {
    background: url(../img/bg-social-partners.jpg);
    padding-bottom: 20px;
    padding-top: 20px;
}

.developer-associate, .copyright {
    display: inline-block;
}

.copyright  {
    color: #fff;    
    font-family: 'GothamLight';
    font-size: 13px;
    line-height: initial;
    padding: 30px 0 0 40px;
}

.social-networs {
    list-style-type: none;
    margin: 15px 0;
    padding: 0;
}

.social-networs > li {
    display: inline;
    margin: 13px;
}

.social-networs > li > a {
    background: url(../img/hexagon.png) no-repeat;
    color: #5b97cc;
    display: inline-block;
    font-size: 27px;
    height: 59px;
    line-height: 59px;
    text-align: center;
    text-decoration: none;
    width: 52px;
}

.qultop-partner {
    padding-top: 10px;
    text-align: right;
}






/*******************************************************************************
Secciones internas
********************************************************************************/
#internal-section {
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0 120px 0;
}

.pink {
    color:deeppink;
}

.green {
    color:seagreen;
}

.title {
    font-size: 28px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
}

.text-xl {
    font-size: larger;
}

.bold {
    font-weight: bold;
}

.special-bullets {
    list-style: none;
    line-height: 28px;
}

.special-bullets li { 
    list-style-image: url(../img/arrow_verde.png);
}

.special-bullets-sm li { 
    list-style-image: url(../img/arrow_verde_sm.png); 
}

.special-list {
    list-style: none;
    line-height: 28px;
    padding-left: 0px;
}

.row {
    margin: 40px auto;
}


/*******************************************************************************
Feature internal header
*******************************************************************************/
#feature_header_services_uxui {
    height: 300px;
    background: url("../img/services/uxui/banner_servicios_ux.png") center center #262626 no-repeat;
    z-index: 1;
    margin-bottom: 0px;
    position: relative;
}
#feature_header_services_web_development {
    height: 300px;
    background: url("../img/services/web-development/banner_servicios_web_development.png") center center #262626 no-repeat;
    z-index: 1;
    margin-bottom: 0px;
    position: relative;
}

#feature_header_services_testing_software {
    height: 300px;
    background: url("../img/services/testing-software/banner_servicios_testing_software.png") center center #262626 no-repeat;
    z-index: 1;
    margin-bottom: 0px;
    position: relative;
}



/*******************************************************************************
Hablemos de tu proyecto
*******************************************************************************/
#proyect button{
    border-color: deeppink;
    color: deeppink;
    border-radius: 0px;
}

.hablemos-de-tu-proyecto {
    padding: 20px;
}

/*******************************************************************************
Services
*******************************************************************************/
.services-items div {
    min-height: 165px;
    margin: 0 auto 10px auto;
}

.services-item img {
    width: 100%;
    height: auto;
    margin: auto auto;
    vertical-align: middle;
}
