/* 
    Created on : 15/12/2015, 09:59:26 AM
    Author     : Jorge Perales <jperales@syesoftware.com>
*/
/*******************************************************************************
General/Misc
*******************************************************************************/
@media (min-width: 1024px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
        max-width: 1200px;
        width: 100%;
    }
}

/*******************************************************************************
Header
*******************************************************************************/
@media (max-width: 1024px) { 
    .logo img {
        width: 140px;
        height: auto;
    }
    
    .navbar-nav {
        margin-top: 20px;
    }
}

@media (max-width: 1023px) {
    header .container {
        padding-left: 10px;
        padding-right: 5px;
    }
    
    .navbar-brand {
        padding: 20px 0;
    }
    
    .navbar-nav > li a {
        padding-left: 9px;
        padding-right: 9px;
    }
    
    .clients-list > li > img {
        width: 100%;
        height: auto;
    }
    
    #teamCarousel {
        margin-top: 30px;
    }
    
    .twitter-widget {
        margin-top: 30px;
    }
    
    .dac {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .qultop-partner {
        text-align: center;
    }
}

@media (max-width: 767px) {
    header .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .navbar {
        border: none;
    }
    
    .navbar-nav {
        margin-top: 0;
    }
    
    .navbar-header {
        position: relative;
    }
    
    .navbar-collapse {
        background: #ffffff;
        margin-top: 22px;        
    }
    
    .navbar-brand {
        float: none;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        padding: 0;
        position: absolute;
        right: 0;
        width: 110px;
        z-index: 0;
    }
    
    .address-group.mt-20 {
        margin-top: 40px;
    }
}

/*******************************************************************************
Procedures and services
*******************************************************************************/
@media (max-width: 360px) {
    .services-list .col-xs-6 {
        width: 100%;
    }
}

/*******************************************************************************
Footer
*******************************************************************************/
@media (max-width: 1024px) {
    #footer .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 360px) {
    #feature_slider {
        display: none !important;
    }
    
    #footer .col-xs-6 {
        width: 100%;
    }
    
    .btn-contact {
        width: auto;
    }
    
    .address-group .address:first-child, .address-group .address:last-child  {
        padding: 0 15px 0 15px;
    }
    
    .copyright {
        display: block;
        padding: 15px 0;
    }
}