@font-face {
    font-family: 'RalewayLight'; 
    src: url('../fonts/Raleway-Light.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'RalewayThin'; 
    src: url('../fonts/Raleway-Thin.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'RalewayMedium'; 
    src: url('../fonts/Raleway-Medium.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'RalewayRegular'; 
    src: url('../fonts/Raleway-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'RalewaySemiBold'; 
    src: url('../fonts/Raleway-SemiBold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'RalewayBold'; 
    src: url('../fonts/Raleway-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'RalewayExtraBold'; 
    src: url('../fonts/Raleway-ExtraBold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'RalewayExtraLight'; 
    src: url('../fonts/Raleway-ExtraLight.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'RalewayExtraHeavy'; 
    src: url('../fonts/Raleway-Heavy.ttf');
    font-style: normal;
}