
            <section id="feature_header">
            </section>
            
            <section id="our-passion-sub">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/user-experience-user-interface-design">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/service-ui.png" alt="UI" />
                                    </div>
                                    <div class="service-name">
                                        USER EXPERIENCE &<br />USER INTERFACE DESIGN
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/web-development">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/service-webdev.png" alt="Web Development" />
                                    </div>
                                    <div class="service-name">
                                        WEB & SOFTWARE<br />DEVELOPMENT
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/mobile-development">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/service-mobile.png" alt="Mobile Development" />
                                    </div>
                                    <div class="service-name">
                                        MOBILE<br />DEVELOPMENT
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/testing-software">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/service-testing.png" alt="Testing Software" />
                                    </div>
                                    <div class="service-name">
                                        TESTING<br />SOFTWARE
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/extended-teams">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/extended-teams.png" alt="Extended teams" />
                                    </div>
                                    <div class="service-name">
                                        EXTENDED<br />TEAMS
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/training-services">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/training-services.png" alt="Training services" />
                                    </div>
                                    <div class="service-name">
                                        TRAINING<br />SERVICES
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            
            <section id="internal-section">
                <div class="container" style="padding: 0;">
                    <div class="section-header">
                        <div class="title text-center">
                            <span class="pink bold">DESARROLLO DE</span><br>             
                            <span class="green">WEB Y SOFTWARE</span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <ul class="special-bullets">
                            <li>Desarrollo de software a la medida implementando las mejores prácticas de la industria, incluyendo metodologías ágiles de desarrollo.</li>
                            <li>Desarrollamos un plan de trabajo:
                                <ul class="special-bullets-sm">
                                    <li>Alineado a los objetivos de negocio de nuestros clientes.</li>
                                    <li>No burocrático.</li>
                                    <li>Que asegure una gran aceptación de los usuarios.</li>
                                </ul>
                            </li>
                            <li>A través de pequerñas iteraciones, nuetros clientes pueden ver resultados inmediatos y validar que e l progreso esté en línea con el objetivo del negocio.</li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <ul class="special-bullets">
                            <li>Especialistas en los lenguajes de programación más demandados como:</li>
                        </ul>
                        <div class="services-items">
                            <div class="col-sm-4 col-xs-6 text-center">
                                <img src="/assets/img/services/RAILS.png" class="img-responsive" alt="RAILS" />
                            </div>
                            <div class="col-sm-4 col-xs-6 text-center">
                                <img src="/assets/img/services/JAVA.png" class="img-responsive" alt="JAVA" />
                            </div>
                            <div class="col-sm-4 col-xs-6 text-center">
                                <img src="/assets/img/services/XAMARIN.png" class="img-responsive" alt="XAMARIN" />
                            </div>
                            <div class="col-sm-4 col-xs-6 text-center">
                                <img src="/assets/img/services/NET.png" class="img-responsive" alt="NET" />
                            </div>
                            <div class="col-sm-4 col-xs-6 text-center">
                                <img src="/assets/img/services/MICROSOFT.png" class="img-responsive" alt="MICROSOFT" />
                            </div>
                            <div class="col-sm-4 col-xs-6 text-center">
                                <img src="/assets/img/services/PHP.png" class="img-responsive" alt="PHP" />
                            </div>
                            <div class="col-sm-4 col-xs-6 text-center">
                                <img src="/assets/img/services/IOS.png" class="img-responsive" alt="IOS" />
                            </div>
                            <div class="col-sm-4 col-xs-6 text-center">
                                <img src="/assets/img/services/WP.png" class="img-responsive" alt="WINDOWS PHONE" />
                            </div>
                            <div class="col-sm-4 col-xs-6 text-center">
                                <img src="/assets/img/services/ANDROID.png" class="img-responsive" alt="ANDROID" />
                            </div>
                        </div>
                    </div>
                </div>
            
                <div id="proyect">
                    <div class="text-center">
                        <div class="hablemos-de-tu-proyecto text-center">
                            <img src="assets/img/hablemos-de-tu-proyecto.png" alt="Hablemos de tu proyecto" class="img-responsive" />
                        </div>            
                        <h4 class="text-center">HABLEMOS DE TU PROYECTO</h4>
                        <br>
                        <button class="btn btn-default">CONTÁCTANOS</button>
                    </div>
                </div>

            </section>
            