

    <header>
        <div class="container">
            <nav class="navbar" role="navigation">
                <div class="navbar-header">                        
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand logo">
                        <img src="assets/img/logo.png" alt="SYE" />
                    </a>
                </div>
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a routerLink="/services" routerLinkActive="active" >Servicios</a></li>
                        <li><a href="#portfolio"  >Portafolio</a></li>
                        <li><a routerLink="/metodologia" routerLinkActive="active" >Metodología</a></li>
                        <li><a routerLink="/clientes" routerLinkActive="active" >Clientes</a></li>
                        <li><a routerLink="/equipo" routerLinkActive="active" >Equipo</a></li>
                        <li><a routerLink="/artgeek" routerLinkActive="active" >Art Geek</a></li>
                        <li><a routerLink="/contacto" routerLinkActive="active" >Contacto</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>


    <router-outlet></router-outlet>


    <footer id="footer">
        <div id="email-contact" class="text-center">
            <a href="mailto:info@syesoftware.com" class="btn-contact">info@syesoftware.com</a>
        </div>
        <div id="contact-form">
            <div class="container">
                <div class="col-md-4 col-sm-5">
                    <form id="ContactForm">
                        <div class="form-group">
                            <input type="text" id="name" name="name" class="form-control" placeholder="NOMBRE" />
                        </div>
                        <div class="form-group">
                            <input type="text" id="email" name="email" class="form-control" placeholder="EMAIL" />
                        </div>
                        <div class="form-group">
                            <input type="text" id="subject" name="subject" class="form-control" placeholder="ASUNTO" />
                        </div>
                        <div class="form-group">
                            <textarea id="message" name="message" class="form-control" placeholder="MENSAJE"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn-send">
                                <img src="assets/img/btn-send.jpg" alt="Enviar" />
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 col-sm-7">
                    <div class="row address-group mt-20">
                        <div class="col-md-6 col-sm-6 col-xs-6 address">
                            <address>
                                <p class="city">México DF:</p>
                                <p>
                                    José Alvarado #25<br />
                                    Col. Roma Norte,<br />
                                    Del. Cuauhtémoc<br />
                                    C.P. 06700<br />
                                </p>
                                <p class="phone">[ +52 55 5211 9757 ]</p>
                            </address>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 address">
                            <address>
                                <p class="city">Guadalajara:</p>
                                <p>
                                    Av. López Mateos Sur #2077<br />
                                    Col. Jardines de Plaza de Sol<br />
                                    C.P. 44510
                                </p>
                                <p class="phone">[ +52 33 3030 7348 ]</p>
                            </address>
                        </div>
                    </div>
                    <div class="row address-group">
                        <div class="col-md-6 col-sm-6 col-xs-6 address">
                            <address>
                                <p class="city">Tijuana:</p>
                                <p>
                                    Blvd. Gustavo Díaz Ordaz<br />
                                    #12415 Fracc. El Paraíso<br />
                                    C.P. 22106
                                </p>
                                <p class="phone">[ +52 664 686 222 ]</p>
                            </address>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 address">
                            <address>
                                <p class="city">Silicon Valley:</p>
                                <p>
                                    San José, CA, USA:<br />
                                    1737 N 1st St #110<br />
                                    95112
                                </p>
                                <p class="phone">[ +1 408 821 6295 ]</p>
                            </address>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="panel twitter-widget">
                        <div class="panel-heading text-center">
                            <img src="assets/img/tw-icon.jpg" alt="Tw" />
                        </div>
                        <div class="panel-body">
                            <div style="border:none; overflow:hidden; width:100%; height:270px;">
                                <div class="block twitter">
                                    <a class="twitter-timeline" data-link-color="#c2482e" data-chrome="transparent noborders noheader nofooter noscrollbar" data-dnt="true" href="https://twitter.com/QualtopMx" data-widget-id="539858091807092738"></a> 
                                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore (js,fjs);}}(document,"script","twitter-wjs");</script> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="social-partners">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12 dac">
                        <div class="developer-associate">
                            <img src="assets/img/developer-associate.png" alt="Developer Associate" />
                        </div>
                        <div class="copyright">
                            © 2016 SYE Software Passion.<br />
                            Todos los derechos reservados
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 text-center">
                        <ul class="social-networs">
                            <li class="facebook">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="twitter">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="linkedin">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 qultop-partner">
                        <a href="http://www.qualtop.com">
                            <img src="assets/img/logo-qualtop.png" alt="Qualtop" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>