
            <section id="feature_header_services_uxui">
            </section>
            
            <section id="our-passion-sub">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/user-experience-user-interface-design">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/service-ui.png" alt="UI" />
                                    </div>
                                    <div class="service-name">
                                        USER EXPERIENCE &<br />USER INTERFACE DESIGN
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/web-development">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/service-webdev.png" alt="Web Development" />
                                    </div>
                                    <div class="service-name">
                                        WEB & SOFTWARE<br />DEVELOPMENT
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/mobile-development">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/service-mobile.png" alt="Mobile Development" />
                                    </div>
                                    <div class="service-name">
                                        MOBILE<br />DEVELOPMENT
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/testing-software">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/service-testing.png" alt="Testing Software" />
                                    </div>
                                    <div class="service-name">
                                        TESTING<br />SOFTWARE
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/extended-teams">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/extended-teams.png" alt="Extended teams" />
                                    </div>
                                    <div class="service-name">
                                        EXTENDED<br />TEAMS
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <a href="/services/training-services">
                                <div class="service">
                                    <div class="service-icon">
                                        <img src="assets/img/training-services.png" alt="Training services" />
                                    </div>
                                    <div class="service-name">
                                        TRAINING<br />SERVICES
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            
            <section id="internal-section">
                <div class="container" style="padding: 0;">
                    <div class="row">
                        <div class="section-header">
                            <div class="title text-center">
                                <span class="pink bold">UXUI</span><br>             
                                <span class="green">DESIGN</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="container" style="padding: 0;">
                                <div class="col-md-5">
                                    <img src="/assets/img/services/UXUI/logo_uxui.png" class="img-responsive" alt="User Experience and User Interface Design" />
                                </div>
                                <div class="col-md-7">
                                    <ul class="special-bullets">
                                        <li>INNOVAMOS.</li>
                                        <li>COMUNICAMOS.</li>
                                        <li>RETAMOS.</li>
                                        <li>EMBELLECEMOS PROYECTOS.</li>
                                        <li>DAMOS RESULTADOS A NUESTROS CLIENTES.</li>
                                        <li>NOS DIVERTIMOS EN EL PROCESO.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="special-bullets">
                                <li>UX es el resultado de un concepto controvertido, divertido y expectante...</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="container" style="padding: 0;">
                                <div class="col-md-6">
                                    <div style="display:table;height:328px;">
                                        <div class="text-center" style="display:table-cell;vertical-align: middle;">
                                            <h4 class="">CONCEBIMOS UN:</h4>
                                            <h4 class="pink bold">"LO AMO"</h4>
                                            <h4 class="pink bold">"ES FÁCIL DE USAR"</h4>
                                            <br>
                                            <h4 class="">EVITANDO UN:</h4>
                                            <h4 class="pink bold">"LO ODIO"</h4>
                                            <h4 class="pink bold">"ES UN DOLOR DE MUELA"</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <img src="/assets/img/services/UXUI/dibujo1.png" class="img-responsive" alt="Concebimos software de calidad" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="display:table;height:328px;">
                             <div style="display:table-cell;vertical-align: middle;">
                                <h4 class="pink bold">UN PRODUCTO USABLE QUE GENERA: </h4>
                                <ul class="special-list">
                                    <li>INNOVAMOS.</li>
                                    <li>COMUNICAMOS.</li>
                                    <li>RETAMOS.</li>
                                    <li>EMBELLECEMOS PROYECTOS.</li>
                                    <li>DAMOS RESULTADOS A NUESTROS CLIENTES.</li>
                                    <li>NOS DIVERTIMOS EN EL PROCESO.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="text-center">
                            <img src="/assets/img/services/UXUI/dibujo2.png" alt="Desarrollo de ideas" class="img-responsive" />
                        </div>
                    </div>

                    <div id="proyect">
                        <div class="text-center">
                            <div class="hablemos-de-tu-proyecto text-center">
                                <img src="assets/img/hablemos-de-tu-proyecto.png" alt="Hablemos de tu proyecto" class="img-responsive" />
                            </div>            
                            <h4 class="text-center">HABLEMOS DE TU PROYECTO</h4>
                            <br>
                            <button class="btn btn-default">CONTÁCTANOS</button>
                        </div>
                    </div>

                </div>
            </section>
            